@model QFGreenBean.Models.StudentScheduleGenerator

@{
    ViewBag.Title = "Green Bean";
}

<p>
    <h2>Student Scheduler</h2>
</p>

<p>Student Scheduler is a tool to generate recommended student schedules in the coming year. The schedules can be readjusted automatically to meet a student's specific constraints or preferences.</p>
<p>Please select scheduling parameters.</p>

@using (Html.BeginForm())
{
    <table style="width:100%;">
        <tr>
            <td class="auto-style1">Student Number</td>
            <td>
               @ViewBag.StudentNumber 
                       
            </td>
        </tr>
        <tr>
            <td class="auto-style1">Starting Term</td>
            <td>
                @Html.DropDownListFor(x => x.StartTerm,
                                           new[] {new SelectListItem() { Text = "Fall 2015", Value = "Fall 2015" },
                                                  new SelectListItem() { Text = "Winter 2016", Value = "Winter 2016" },
                                                  new SelectListItem() { Text = "Summer 2016", Value = "Summer 2016" }
                                                 } )
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Department</td>
            <td>
                 @Html.DropDownListFor(x => x.DepartmentName,
                                           new[] {new SelectListItem() { Text = "SOEN", Value = "SOEN" },
                                                  new SelectListItem() { Text = "COMP", Value = "COMP" }
                                                })

            </td>
        </tr>

        <tr>
            <td class="auto-style1">Program Option</td>
            <td>
                @Html.DropDownListFor(x => x.ProgramOptionName,
                                           new[] {new SelectListItem() { Text = "General Program", Value = "General Program" },
                                                  new SelectListItem() { Text = "Computer Games", Value = "Computer Games" },
                                                  new SelectListItem() { Text = "Web Services", Value = "Web Services" },
                                                  new SelectListItem() { Text = "Avionics Software", Value = "Avionics Software" }
                                                 })
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Preferences / Constraints</td>
            <td>
                @Html.ActionLink("Enter Student Preferences", "Index", "Constraint")
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Include a summer session</td>
            <td>
                @Html.CheckBoxFor(x => x.IncludeSummer)
            </td>
        </tr>

        <tr>
            <td class="auto-style1">&nbsp;</td>
            <td>
                <input type="submit" value="Generate Schedules" />
            </td>
        </tr>
    </table>
}


