@model QFGreenBean.Models.Student

@{
    ViewBag.Title = "Index";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<h2>Student Record</h2>

<table style="width:100%">
    <tr>
        <td>First name: </td>
        <td>Last name: </td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td>Email</td>

    </tr>

</table>

</br>


<div id="showStudentRecord">

    <label>Course Taking</label>
    <table style="width:100%">
        <th>
        <td>Course Code</td>
        <td>Course Name</td>
        <td>Unit</td>
        </th>

    
        <tr>

            <td>@Html.DisplayFor(modelItem => Model.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => Model.StudentId)</td>
                    <td>@Html.DisplayFor(modelItem => Model.StudentId)</td>

        </tr>

    </table>
    </br>
    <label>Course Taken</label>
    <table style="width:100%">
        <th>
        <td>Course Code</td>
        <td>Course Name</td>
        <td>Unit</td>
        </th>

       
            <tr>

                <td>@Html.DisplayFor(modelItem => Model.StudentId)</td>
                    <td>@Html.DisplayFor(modelItem => Model.StudentId)</td>
                     <td>@Html.DisplayFor(modelItem => Model.StudentId)</td>

            </tr>
        
    </table>





    test
    <p>@ViewBag.getStudentId</p>

</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}*@

</table>
