@model IEnumerable<QFGreenBean.Models.StudentSchedule>

@{
    ViewBag.Title = "StudentSchedule";
}

<h2>Student Schedule</h2>

<p>
   @Html.ActionLink("Create New", "Create")
</p>


<table style="width:100%;">
    <tr>
        <td class="auto-style1">Student Name:</td>
        <td>
            @Html.DisplayFor(modelItem => Model.First().Student.FirstName) @Html.DisplayFor(modelItem => Model.First().Student.FirstName)
        </td>
    </tr>
    <tr>
        <td class="auto-style1">Student Number</td>
        <td>
            @Html.DisplayFor(modelItem => Model.First().Student.StudentNumber)
        </td>
    </tr>
 </table>
<p><h3>List View</h3></p>

<p><h4>Fall 2015</h4></p>
    <table class="table">
        <tr>
            <th>
               <b>Course Code</b>
            </th>
            <th>
                <b>Course Name</b>
            </th>
            <th>
                <b>Section</b>
            </th>
            <th>
                <b>Units</b>
            </th>
            <th>
                <b>Day & Times</b>
            </th>
            <th>
                <b>Room</b>
            </th>
            <th>
                <b>Instructor</b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if ((item.Section.Term) == "Fall")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Course.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Day) @Html.DisplayFor(modelItem => item.Section.StartTime) - @Html.DisplayFor(modelItem => item.Section.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Instructor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentScheduleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentScheduleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentScheduleId })
                </td>
            </tr>
            }
            }

    </table>
